{%  assign c = 'c-labelled-icon' %}
{%  assign big_icon = true %}
{% if icon_orientation == 'Horizontal' %}
    {%  assign big_icon = false %}
{% endif %}

<div class="{{ c }} {% if icon_orientation == 'Horizontal' %} {{ c }}__horizontal {%  else  %} {{ c }}__Stacked {% endif %}">
    <div>
        {% bookshop "generic/icon" svg_icon: "solid/cpu-chip" big_icon: big_icon rounded_border: true %}
    </div>
    {% comment %}
    I cant use {{c}} for the class below because the bookshop icon seems to crap out
    {% endcomment %}
    <p class="c-labelled-icon__text">{{ text }}</p>
</div>
