{% assign_local c = 'c-labelled-icon' %}

<div class="{{ c }} {{ c }}--{{ arrangement }}">
    {% if icon %}{% bookshop "generic/icon" _live_render:false bind:icon %}{% endif %}
    <p class="{{ c }}__text">{{ text }}</p>
</div>
