<div class="c-centered-large-asset">
    <p>{{ text }}</p>
</div>

{% assign cla = "c-centered-large-asset" %}
<section class="{{ cla }} component 
            {% if styles.background_variant == 'dark' %} 
                component--dark
            {% endif %}">
    
    <div class="{{ cla }}__heading">
        {% if content.heading %}{% bookshop "generic/component-heading" bind:content.heading %}{% endif %}
        {% if content.description %}{% bookshop "generic/text-block" text:content.description %}{% endif %}
    </div>

    <div class="{{ cla }}__asset">
        {% if content.asset %}{% bookshop "{{content.asset._bookshop_name}}" bind:content.asset %}{% endif %}
    </div>

    {% comment %} TODO: add button(s) subcomponent {% endcomment %}
</section>