{% assign c = "c-contact-block" %}

<section class="{{ c }} component 
    {% if styles.orientation == "Right" %}
        {{ c }}--right
    {% endif %} 
    {% if styles.background_variant == "Dark" %} 
        component--dark
    {% endif %}">
  <div class="{{ c }}__content">
    <div class="{{ c }}__content-wrapper">
      {% if content.social_icons %}
        {% bookshop "generic/social-icons" bind:social_icons %}
      {% endif %}

      {% if content.heading %}
        {% bookshop "generic/component-heading" bind:content.heading eyebrow_headline:'' %}
      {% endif %}

      <div class="{{ c }}__contact-details">
        {% if content.description %}
          {% bookshop "generic/text-block" text:content.description %}
        {% endif %}

        {% for detail in content.contact_details %}
          {% bookshop "generic/labelled-icon" bind:detail %}
        {% endfor %}
      </div>

      {% if content.button %}
        <div class="{{ c }}__button">{% bookshop "generic/button" bind:content.button %}</div>
      {% endif %}
    </div>
  </div>
  <div class="{{ c }}__map-wrapper">
      {% bookshop "simple/google-map-embed" bind:content.map %}
  </div>
</section>