{% assign_local c = "c-time-input" %}
<div class="{{ c }}">
    <label class="{{ c }}__label" for="{{ name_and_id }}">{{ label }}</label>
    <input class="{{ c }}__input"
        type="time" id="{{ name_and_id }}" 
        name="{{ name_and_id }}" 
        value="{{ placeholder }}"
        min="{{ min }}"
        max="{{ max }}">
    <div class="{{ c }}__icon">{% bookshop "generic/icon" svg_icon:"outline/clock" icon_size:'extra-small' rounded_border:false color:'white' %}</div>
    <div class="{{ c }}__dropdown-arrow">{% bookshop "generic/icon" svg_icon:"solid/chevron-down" icon_size:'extra-small' rounded_border:false color:'white' %}</div>

    {% if helper_text %}
        <div class="{{ c }}__helper">
            {% bookshop "generic/icon" svg_icon:"outline/information-circle" icon_size:'extra-small' rounded_border:false color:'var(--brand-grey-000, #F9F9FB)' %}
            <p class="{{ c }}__helper__text">{{ helper_text }}<p>
        </div>
    {% endif %}

</div>