{% assign_local c = "c-icon" %}

{% assign icon_style = svg_icon | split: '/' | first %}

<div class="{{ c }} {{ c }}--{{ icon_size }} {{ c }}--{{ icon_style }} {% if rounded_border %}{{c}}--round{% endif %}" style="--c-icon-color: {{ color }}">
    {% if env_bookshop_live %}
        <div class="{{ c }}__image" style="--url: url('/assets/images/icons/{{svg_icon}}.svg')"></div>
    {% else %}
        {{ '/src/assets/images/icons/' | append: svg_icon  | append: '.svg'  | svgContents: "c-icon__svg" }}
    {% endif %}
</div>
