{% assign_local c = "c-icon" %}

{% assign icon_style = icon_type %}
{% assign icon_path = "/assets/images/icons/" | append: icon_type | append: "/" | append: hero_icon_name  | append: '.svg' %}

<span class="{{ c }} {{ c }}--{{ icon_size }} {{ c }}--{{ icon_style }} {% if rounded_border %}{{c}}--round{% endif %}" style="--c-icon-color: {{ color }}">
    {% if env_bookshop_live %}
        <span class="{{ c }}__image" style="--url: url('{{ icon_path }}')"></span>
    {% else %}
        {{ '/src' | append: icon_path  | svgContents: "c-icon__svg" }}
    {% endif %}
</span>
