{% assign_local c = "c-contact-block" %}

<section class='{{ c }} component {{ c }}
    {% if styles.map_alignment == "Left" %}
        {{ c }}--map-left
    {% endif %} 
    {% if styles.background_variant == "dark" %} 
        component--dark
    {% endif %}'>
  <div class="{{ c }}__content">
    <div class="{{ c }}__content-wrapper">            
        {% if content.display_social_icons %}
          <div class="{{ c }}__social-icons">
            {% bookshop "generic/social-icons" social_media_links:site.social_media_links style:social_icons_style %}
          </div>
        {% endif %}
        <div class="{{ c }}__contact-details">          
          {% if content.heading %}
            {% bookshop "generic/component-heading" primary_heading:content.heading %}
          {% endif %}
        
          <div class="{{ c }}__contact-details--content">
            {% if content.description %}
              {% bookshop "generic/text-block" text:content.description %}
            {% endif %}          

            {% for detail in content.contact_details %}
              {% capture icon_styles %}
                icon_size: "small"
                icon_type: "outline"
                hero_icon_name: {{ detail.hero_icon_name }}
                rounded_border: true        
                color: "#f9f9fb"
              {% endcapture %}
              {% assign icon_styles = icon_styles | ymlify %}
              {% bookshop "generic/labelled-icon"
                text:detail.text 
                arrangement:'inline' 
                icon:icon_styles
              %}
            {% endfor %}  
          </div>
          {% if content.button %}
            <div class="{{ c }}__button">{% bookshop "generic/button" bind:content.button %}</div>
          {% endif %}
      </div>                
    </div>
  </div>
  <div class="{{ c }}__map-wrapper">
    {% bookshop "simple/google-map-embed" bind:content.map %}
  </div>
</section>