{% assign c = "c-button" %}
{% assign arrow = "arrow-" | append: arrow %}

{% if url and url!=''%}
    <a href="{{ url }}" class="{{c}} {{c}}--{{ variant }}" {% if disabled %}disabled{% endif %} {% if open_in_new_tab %}target="_blank" rel="noopener noreferrer"{% endif %} onclick="{{ onclick }}" id="{{ id }}">
        {{ text }}
        {% if arrow %}
            {% bookshop "generic/icon" svg_icon:arrow icon_type:"solid" icon_size:'tiny'  color:'transparent' %}
        {% endif %}
    </a>
{% else %}
    <button class="{{c}} {{c}}--{{ variant }}" {% if disabled %}disabled{% endif %} onclick='{{ onclick }}' id="{{ id }}">
        {{ text }}
        {% if arrow %}
            {% bookshop "generic/icon" svg_icon:arrow icon_type:"solid" icon_size:'tiny'  color:'transparent' %}
        {% endif %}
    </button>
{% endif %}
