{% assign c = "c-button" %}

{% if url and url!=''%}
    <a href="{{ url }}" class="{{c}} {{c}}--{{ variant }}" {% if disabled %}disabled{% endif %}>
        {{ text }}
    </a>
    {% else %}
    <button class="{{c}} {{c}}--{{ variant }}" {% if disabled %}disabled{% endif %}>
        {{ text }}
    </button>
{% endif %}